---
layout: default
title: Marco Minici
permalink: /
---






<div class="row col-lg-6  col-md-6 mx-auto textreg">
<div class="col-lg-4  col-md-12" style="margin-bottom: 10px">
        <div class=frame><img src="{{ site.avatar }}" /></div>
</div>

<div class=" col-lg-8  col-md-12 " style="margin-bottom: 10px" >
    <div style="margin: 3px">
<p>
    I am a Researcher at ICAR-CNR, the Artificial Intelligence Institute of the National Research Council of Italy. I got my PhD in AI at the University of Pisa, advised by Giuseppe Manco and Francesco Bonchi.
  </p>
  <p>
    My research topics revolve around the theme of <em>Online Social Safety</em>, my focus is on developing scalable computational methods to protect users and communities online. 
    
  </p>
  <p>
    I aim to empower citizens, platforms and public entities with tools to audit and mitigate digital threats, ensuring safer and more inclusive online spaces.
  </p>
</div>
</div>


</div>

<div class="row col-lg-6  col-md-6 mx-auto">
    <div class="col-lg-4  col-md-12">
        <div class="newsbox" style="height:170px; overflow:auto; margin-bottom: 30px;">
<div style="display: flex; justify-content: center;">
      <img src="/images/email.png" style="width: 200px; margin-top: 30px; margin-bottom: 30px" class="center">
</div>
<div style="display: flex; justify-content: center;">

    <ul class="nav nav-justified justify-content-center" style="font-size: 14px; width: 200px">
      <li class="nav-item ">
        <a class="nav-link" href="https://x.com/FractalZucky" style="border: 0px; padding: 2px">Twitter</a>
      </li>
      <li class="nav-item"  style="border: 0px; padding: 0px">
        <a class="nav-link" href="https://www.linkedin.com/in/marco-minici-177125151/" style="border: 0px; padding: 2px">LinkedIn</a>
      </li>
      <li class="nav-item"  style="border: 0px; padding: 0px">
        <a class="nav-link" href="https://github.com/mminici" style="border: 0px; padding: 2px">Github</a>
      </li>
      <li class="nav-item"  style="border: 0px; padding: 0px">
        <a class="nav-link" href="https://bsky.app/profile/marcominici.bsky.social" style="border: 0px; padding: 2px">Bluesky</a>
      </li>
    </ul>
</div>
        </div>
</div>


<div class="row col-lg-8  col-md-12">



    <div class="newsbox" style="height:170px; overflow:auto; margin-bottom: 30px;
    display: inline-block; text-align: left;">
    <table style="width: 100%">
    {% for tmp in site.data.news %}
    {% for entry in tmp.links %}

      <tr>
        <td style="width: 20%; min-width: 90px;" class="datev">{{ entry.date }}</td>
          <td style="width: 70%">
              {{entry.text}}
              {% if entry.link %}
              <a href="{{entry.link}}">(link)</a>
              {% endif %}
              {% if entry.links %}
                    {% for l in entry.links %}
                              <a href="{{l}}">(link)</a>

                    {% endfor %}
              {% endif %}
            {% if entry.photo %}
              <a href="{{entry.photo}}">(photo)</a>
              {% endif %}
          </td>
<!--          <hr>-->
      </tr>
    {% endfor %}
    {% endfor %}
    </table>
</div>





</div>
