---
layout: page_large
title: Publications
permalink: /publications
---


<div style="align: center; text-align: center;">
    <br>
<p>For a comprehensive list, check <a href="https://scholar.google.it/citations?user=v-2peSwAAAAJ&hl=en">Google Scholar</a>.</p>
    <br>
</div>

<hr/>

{% for n in (2021..2025) reversed %}
{% for pub in site.publications reversed %}
{% if pub.year == n %}
<div class="row col-lg-12">


<!--YEAR-->
<div class="col-lg-1">
<p> {% if pub.conf != "preprint" %} {{pub.year}} {% endif %} </p>
</div>

<!--CONF-->
<div class="col-lg-2">
<p style="text-align: right; color: #999999; font-style: italic"> {{pub.conf}}</p>
</div>

<!--TITLE-->
<div class="col-lg-7">
<p>  {{ pub.title }}</p>

<p>
{% for author in pub.authors %}
{% if author == "Marco Minici" %}
<b style="display: inline-block">{{ author }}</b>{% if forloop.last != true %},{% endif %}
{% else %}
{% if author == "Marco Minici*" %}
<b style="display: inline-block">{{ author }}</b>{% if forloop.last != true %},{% endif %}
{% else %}
<span style="display: inline-block">{{ author }}</span>{% if forloop.last != true %},{% endif %}
{% endif %}
{% endif %}
{% endfor %}
</p>
<p style="display: block">
{% for link_content in pub.links %} <a href="{{link_content.content}}" style="display: inline-block"> {{link_content.name}}</a>{% if forloop.last != true %},&nbsp;{% endif %}{% endfor %}
</p>
{% assign flag = 0 %}
{% for med in site.media reversed %}
{% if pub.title == med.related_paper %}
    {% assign flag = 1 %}
{% endif %}
{% endfor %}

{% if flag == 1 %}
<p>
        <i>Media Coverage:</i>&nbsp;
{% for med in site.media reversed %}
{% if pub.title == med.related_paper %}
    <a href="{{ med.link}}" style="display: inline-block">{{ med.venue }}</a> &nbsp;
{% endif %}
{% endfor %}
</p>
{% endif %}
</div>

<div  class="col-lg-2  d-none d-xl-block" style="text-align:center; alignment: center">
<img src="{{ site.baseurl }}/images/paper_teasers/{{pub.name_file}}.png" style="display: inline-flex;  max-width: 175px; margin-bottom: 20px"/>

</div>
</div>


<hr>

{% endif %}
{% endfor %}
{% endfor %}



